<style> #myButton {display: none;padding: 10px 20px; font-size: 16px;cursor: pointer;}.center{text-align:center;position:relative;top:50%;transform:translateY(-50%);width:200px;margin:auto}#startlink{font-size:20px;padding:10px;background-color:#4CAF50;color:#fff;border:none;border-radius:5px;cursor:pointer;margin-top:20px;width:100%}#startButton.hidden{display:none}
</style>

<div id="myButton">
<div class="center">
 <a id="startlink" href="">𝐖𝐀𝐓𝐂𝐇 𝘕𝘖𝘞 𝘏𝘌𝘙𝘌</a>

 
 <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5439326873004541"
     crossorigin="anonymous"></script>
<!-- box1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5439326873004541"
     data-ad-slot="9145976906"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
 
</div>
</div>


